<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Superlemma"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <c:set var="ctrl" value="#{superlemmaController}"/>
            <c:set var="rowCount" value="#{lazySuperlemma.rowCount}"/>
            <h:form id="SuperlemmaListForm">
                <ui:include src="/buttons.xhtml">
                    <ui:param name="tabel" value="Superlemma"/>
                </ui:include>
                <p:dataTable allowUnsorting="true" id="datalist" value="#{ctrl.lazyModel}" var="item" filterEvent="change"
                             selection="#{ctrl.selected}" sortMode="multiple" selectionMode="single"
                             paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}"
                             rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazySuperlemma.filtered}"
                             rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                             rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                             currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                    <ui:include src="/datatable.xhtml"/>
                    <p:column sortBy="#{item.code}" filterBy="#{item.code}" filterValue="#{lazySuperlemma.filters['code']}">
                        <f:facet name="filter">
                            <p:keyboard styleClass="createfilter" showMode="button" layoutTemplate="#{ctrl.diacriticsKeyBoard()}" onchange="PF('datalist').filter();" 
                                        value="#{lazySuperlemma.filters['code']}"/>
                        </f:facet>
                        <f:facet name="header">
                            <h:outputText value="code"></h:outputText>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.code}"></h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText onchange="changed($(this))" id="code" value="#{item.code}"  />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column sortBy="#{item.pos}" filterBy="#{item.pos}" filterValue="#{lazySuperlemma.filters['pos']}">
                        <f:facet name="filter">
                            <p:selectOneMenu appendTo="datalist"
                                             value="#{lazySuperlemma.filters['pos']}"
                                             onchange="PF('datalist').filter()">
                                <f:selectItem itemLabel="#{bundle.SelectOneMessage}" value="#{null}"></f:selectItem>
                                <f:selectItems value="#{superlemmaController.posCodes()}" var="ling"
                                               itemLabel="#{ling}" itemValue="#{ling}"></f:selectItems>
                            </p:selectOneMenu>
                        </f:facet>
                        <f:facet name="header">
                            <h:outputText value="pos"></h:outputText>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText  value="#{item.pos}"></h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu onchange="changed($(this))" id="pos" value="#{item.pos}" filter="true">
                                    <f:selectItems value="#{ctrl.posCodes()}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="meaning"></h:outputText>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText  value="#{item.meaning}"></h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputTextarea onchange="changed($(this))" id="meaning" value="#{item.meaning}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
