<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Lemma"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <c:set var="ctrl" value="#{lemmaController}"/>
            <c:set var="rowCount" value="#{lazyLemma.rowCount}"/>
            <h:form id="LemmaListForm">
                <ui:include src="/buttons.xhtml">
                    <ui:param name="tabel" value="Lemma"/>
                </ui:include>
                <p:dataTable allowUnsorting="true" id="datalist" value="#{ctrl.lazyModel}" var="item"
                             selection="#{ctrl.selected}" sortMode="multiple" selectionMode="single"
                             paginator="true" editable="#{sessionBean.mayEdit()}" editingRow="#{sessionBean.mayEdit()}"
                             rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazyLemma.filtered}"
                             rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                             rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                             currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                    <ui:include src="/datatable.xhtml"/>
                    <p:column sortBy="#{item.lemma}" filterBy="#{item.lemma}" filterValue="#{lazyLemma.filters['lemma']}">
                        <f:facet name="filter">
                            <p:keyboard showMode="button" layoutTemplate="#{ctrl.diacriticsKeyBoard()}" onkeyup="PF('datalist').filter();" 
                                        styleClass="createfilter" value="#{lazyLemma.filters['lemma']}"/>
                        </f:facet>
                        <f:facet name="header">
                            <h:outputText value="lemma"></h:outputText>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.lemma}"></h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText onchange="changed($(this))" id="lemma" value="#{item.lemma}"  />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column sortBy="#{item.languageVariant}" filterBy="#{item.languageVariant}" filterValue="#{lazyLemma.filters['languageVariant']}">
                        <f:facet name="filter">
                            <p:selectOneMenu appendTo="datalist"
                                             value="#{lazySuperlemma.filters['languageVariant']}"
                                             onchange="PF('datalist').filter()">
                                <f:selectItem itemLabel="#{bundle.SelectOneMessage}" value="#{null}"></f:selectItem>
                                <f:selectItems value="#{lemmaController.getLanguageVariants()}" var="lv"
                                               itemLabel="#{lv.code}" itemValue="#{lv.code}"></f:selectItems>
                            </p:selectOneMenu>
                        </f:facet>
                        <f:facet name="header">
                            <h:outputText value="languageVariant"></h:outputText>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.languageVariant}"></h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu onchange="changed($(this))" id="lv" value="#{item.languageVariant}">
                                    <f:selectItems value="#{ctrl.getLanguageVariants()}" var="lv" itemLabel="#{languageVariantConverter.getAsString(null, null, lv)}" itemValue="#{lv}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column sortBy="#{item.superlemma}" filterBy="#{item.superlemma}" filterValue="#{lazyLemma.filters['superlemma']}">
                        <f:facet name="header">
                            <h:outputText value="superlemma"></h:outputText>
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.superlemma}"></h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:autoComplete onchange="changed($(this))" id="superlemma" value="#{item.superlemma}" completeMethod="#{superlemmaController.complete}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="link"></h:outputText>
                        </f:facet>
                        <h:outputText value="#{item.getLink()}"></h:outputText>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
