<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="LanguageVariant"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <c:set var="ctrl" value="#{languageVariantController}"/>
            <c:set var="rowCount" value="10"/>
            <h:form id="LanguageVariantListForm">
                <ui:include src="/buttons.xhtml">
                    <ui:param name="tabel" value="LanguageVariant"/>
                </ui:include>
                <p:dataTable allowUnsorting="true" id="datalist" value="#{ctrl.lazyModel}" var="item"
                             selection="#{ctrl.selected}" sortMode="multiple"  selectionMode="single"
                             paginator="false" editable="false" editingRow="false"
                             rowKey="#{ctrl.getRowKey(item.id)}" filteredValue="#{lazyLanguageVariant.filtered}"
                             rows="#{settings.rowsInTable}" lazy="true" draggableColumns="true" resizableColumns="true" liveResize="true" widgetVar="datalist"
                             rowsPerPageTemplate="10,20,30,40,50" multiViewState="#{ctrl.rememberTableState}"
                             currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords}"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="code"></h:outputText>
                        </f:facet>
                        #{item.code}
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="description"></h:outputText>
                        </f:facet>
                        #{item.description}"
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
