html.test {
    background-image: url("#{resource['images:test.svg']}") !important;
    background-repeat: repeat;
}
body {margin-top: 0}
body .ui-datatable .ui-datatable-data > tr > td, body .ui-datatable .ui-datatable-data > tr > th,
body .ui-datatable thead th, body .ui-button.ui-button-text-only .ui-button-text, body .ui-datatable .ui-datatable-header,
body .ui-panel .ui-panel-titlebar, body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link,
body .ui-datatable .ui-paginator {
    padding: 3px;
}
body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 1px 1px 1px 1.5rem;
}
body .ui-datatable .ui-datatable-data > tr .ui-row-editor > a {
    height: 1rem;
}
body .ui-datatable .ui-datatable-data > tr .ui-row-editor > a {
    line-height: 1rem;
}
.ui-widget, .ui-inputfield {
    font-size: 0.92em !important;
    letter-spacing: 0.03em;
}
.ui-inputfield {
    padding: 3px !important;
}
body .ui-selectonemenu .ui-selectonemenu-label {
    min-height: calc(1rem + 3px);
}
body .ui-button.ui-button-icon-only {
    width: 1.5rem;
}
.fa-info::before {
	margin-left: 4px;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
    text-transform: none !important;
}
.ui-panel .ui-panel-titlebar {
    padding-top: 0.2rem !important;
}
.ui-overlaypanel .ui-panelmenu-header {
    display: none
}
div.ui-row-editor, td.rowselector, th.rowselector, th.row-toggler, td.row-toggler, td.row-editor, th.row-editor, td._25, th._25 {
    max-width: 55px;
}
div.ui-row-editor {
    float: left
}
.ui-datatable .ui-datatable-tablewrapper table {
    table-layout:auto;
    word-wrap: break-word;
}
.ui-datatable .ui-datatable-tablewrapper table td {
    white-space: normal
}
.topmenu {
    background-image: url("#{resource['images:fa-logo-scaled-trans.png']}") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.darktheme .topmenu {
    background-color: #999999 !important;
}
.test .topmenu {
    background-image: url("#{resource['images:test.svg']}") !important;
}
.topmenu .ui-menuitem .ui-menu-list {
    padding-left: 3px !important;
}
.menubutton {
    float: right;
}
li a.current span {
    font-style: italic;
    text-decoration: underline
}
.astat {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1
}
.astat img {
    width: 100px;
    height: 100px;
}
.ui-cell-editor, .ui-inputfield, .ui-autocomplete {
    width: 95% !important;
}
.ui-cell-editor {
    pointer-events: none;
}
.ui-cell-editor-input {
    pointer-events: auto;
}
.ui-dialog table {
    table-layout: auto;
    width: 100%;
    min-width: 300px
}
div.ui-dialog-content {
    max-height: 800px;
}
.ui-expanded-row-content {
    background-color: var(--primary-color)
}
.ui-widget.ui-selectbooleancheckbox div {
    width: 20px !important;
}
div.ui-selectbooleancheckbox {
    margin-left: 20px;
}
.ui-cell-editor {
    display: inline-block;
    margin-left: 3px;
}
div.fixed {
    position: fixed;
    right: 25px;
    top: 100px;
    padding: 10px;
}
button.fixed {
    position: fixed;
    right: 20px;
}
tr[data-rk="-1"], tr.nieuw, td.nieuw {
    background-color: var(--surface-c) !important
}
tr[data-rk="-1"] td.row-editor span {
    background-color: rgba(255,0,0,0.5);
    border-radius: 10%;
}
div.artikelen {
    width: 50%
}
div.tariefdrop {
    width: 80%;
    margin-left: 5px;
}
.bggreen {
    background-color: lightgreen !important;
}
.ui-row-editor span {
    color: #666 !important;
}
#tologin {
    color: var(--primary-color);
}
.ui-state-highlight td a {
    color: var(--primary-color-text);
}
#growl_container {
    min-width: 150px;
    position: fixed;
    top: 35%;
    right: 50px;
}
td.required {
    background-color: rgba(255,0,0,0.4) !important;
}
.ui-message-error:empty {
    visibility: hidden;
}
td.ui-message-error:empty {
    visibility: unset;
}
button.noEnter, button.noEnter span.ui-button-text {
    width: 0; height: 0; border: 0 !important; margin: 0 !important; padding: 0 !important; line-height: 0; z-index: 1000;
    position: absolute; top: 0; right: 0
}
button.noEnter span.ui-button-text {
    display: none
}
.ui-button.ui-state-disabled .ui-button-text:empty::before {
    content: "&#160;"
}
.bold {font-weight: bold !important;}
.num input, .num {
    text-align: right
}
th.num input {
    max-width: 50px
}
button { margin-right: 2px !important;}
button.nieuw {float: left !important}
a.saveall {
    float: left
}
li.options {
    float: right !important;
    margin-left: 2px;
}
li.options {
    margin-right: 30px !important;
}
input.htCheckboxRendererInput {
    margin-left: 25px
}
.ui-button {
    padding: 2px !important;
}
body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 2px !important;
}
button:focus {
    border: 3px outset lightgray !important;
}
a:focus {
    border: 1px outset lightgray !important;
}
#menuform a:focus {
    border: unset !important;
}
span.rowHeader, .hidden {
    visibility: hidden;
    height: 25px;
    display: block
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    -webkit-box-shadow: inset 0 1px 1px #8f8f8f !important;
    box-shadow: inset 0 1px 1px #8f8f8f !important;
}
th.ui-filter-column .ui-column-title::after, span.clearfilter::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0b0"
}
span.clearfilter::after {
   text-decoration: line-through;
}
th.ui-filter-column .ui-column-filter, th.ui-filter-column .ui-selectonemenu, th.ui-filter-column .ui-column-customfilter input {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}
div.autocompleteEditor table {
    border: 2px solid !important;
}
li.ui-tabs-header, ul.ui-tabs-nav {
    text-align: unset;
}
.center {
    width: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}