<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <c:choose>
        <c:when test="#{tabel == 'Superlemma'}">
            <p:remoteCommand name="buttons" update="download createButton copyButton lemmaButton deleteButton"></p:remoteCommand>
        </c:when>
        <c:when test="#{tabel == 'Lemma'}">
            <p:remoteCommand name="buttons" update="download createButton copyButton superlemmaButton deleteButton"></p:remoteCommand>
        </c:when>
        <c:otherwise>
            <p:remoteCommand name="buttons" update="download createButton copyButton deleteButton"></p:remoteCommand>
        </c:otherwise>
    </c:choose>
    <c:if test="#{tabel != 'LanguageVariant'}">
        <div style="display: inline-block; text-align: left; margin-right: 20px">
            <p:selectBooleanCheckbox value="#{ctrl.useOr}" itemLabel="#{bundle.of}">
                <p:ajax update="datalist"/>
            </p:selectBooleanCheckbox>
        </div>
    </c:if>
    <p:commandButton actionListener="#{ctrl.editNew('datalist')}"
                     disabled="#{ctrl.newEntity!=null or tabel == 'LanguageVariant' }" id="createButton"
                     update="@this datalist" styleClass="nieuw" value="#{bundle.Create}" />
    <c:if test="#{tabel == 'Superlemma'}">
        <p:commandButton id="lemmaButton" value="#{bundle.Lemmas}" action="#{ctrl.showLemmas(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
    </c:if>
    <c:if test="#{tabel == 'Lemma'}">
        <p:commandButton id="superlemmaButton" value="#{bundle.Superlemma}" action="#{ctrl.showSuperlemma(ctrl.selected)}" disabled="#{empty ctrl.selected}"/>
    </c:if>
    <p:commandButton id="copyButton" accesskey="c" rendered="#{sessionBean.mayEdit()}" update="@this datalist"
                     value="#{bundle.Copy}" actionListener="#{ctrl.copy('datalist')}" disabled="#{empty ctrl.selected or tabel == 'LanguageVariant'}"/>
    <p:commandButton id="deleteButton" accesskey="d" rendered="#{sessionBean.mayEdit()}" value="#{bundle.Delete}"
                     oncomplete="buttons();"
                     actionListener="#{ctrl.destroy(ctrl.toDelete())}" update="datalist" disabled="#{ctrl.disableDelete() or tabel == 'LanguageVariant'}">
        <p:confirm header="Confirmation" message="#{ctrl.deleteTitle()}" icon="fa fa-exclamation" />
    </p:commandButton>
    <p:commandButton id="download" icon="fa fa-download" ajax="false"  disabled="#{rowCount > 10000}" title="download">
        <p:dataExporter type="csv" target="datalist" fileName="#{tabel}" pageOnly="false"></p:dataExporter>
    </p:commandButton>
</html>
