<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <!-- this event is for row selection using up/down arrow-->
    <p:ajax event="colResize"/>
    <p:ajax event="colReorder"/>
    <p:ajax event="sort" />
    <p:ajax event="rowSelect" delay="500" partialSubmitFilter=":input:first" listener="#{ctrl.onRowSelect}" oncomplete="buttons();" />
    <p:ajax event="page" delay="500" oncomplete="PF('datalist').unselectAllRows();buttons();"/>
    <p:ajax event="filter" oncomplete="PF('datalist').unselectAllRows();buttons();"/>
    <p:ajax event="rowSelectRadio" partialSubmitFilter=":input:first" listener="#{ctrl.onRowSelect}" oncomplete="buttons();"/>
    <p:ajax event="rowEdit" listener="#{ctrl.save}" update="@none"/>
    <p:ajax event="rowEditCancel" listener="#{ctrl.cancelRow}" update="@none"/>
    <p:column class="row-editor" rendered="#{sessionBean.mayEdit()}">
        <p:rowEditor />
    </p:column>
    <p:column sortBy="#{item.id}" rendered="#{sessionBean.mayEdit()}">
        <f:facet name="header">
            <h:outputText value="id"></h:outputText>
        </f:facet>
        <h:outputText value="#{item.id}"  title="last changes: #{ctrl.getLastChangedInfo(item)}"/>
    </p:column>
    <p:column sortBy="#{item.version}" rendered="#{sessionBean.mayEdit()}">
        <f:facet name="header">
            <h:outputText value="version"></h:outputText>
        </f:facet>
        <h:outputText value="#{item.version}"/>
    </p:column>
</html>
