<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                >

    <body>

        <a href="login.xhtml">opnieuw inloggen</a>
        <h1>Details van de laatst opgetreden fout.</h1>
        <h2>Verversen met F5 kan helpen, opnieuw inloggen ook.</h2>
        <h2>stuur evt. de details naar edrenth at fryske-akademy nl</h2>

        <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false"/>

    </body>

</html>