<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <p:commandButton id="help" icon="ui-icon-help" class="helpButton"/>
    <p:overlayPanel for="help" class="helppanel">
        <h:outputText escape="false" value="#{bundle.WildcardHelp}" class="helptext"/>
        <h:outputText escape="false" value="#{bundle.KeyHelp}" class="helptext"/>
    </p:overlayPanel>
</html>
