<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <p:hotkey bind="Down" handler="rowdown();"/>
    <p:hotkey bind="Up" handler="rowup();"/>
    <p:hotkey bind="Right" handler="nextPage();"/>
    <p:hotkey bind="Left" handler="prevPage();"/>
    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
        <p:commandButton title="GDelYesButton" value="Yes" styleClass="ui-confirmdialog-yes"/>
        <p:commandButton title="GDelNoButton" value="No" styleClass="ui-confirmdialog-no" />
    </p:confirmDialog>
    <h:form id="menuform"><p:commandButton styleClass="noEnter" tabindex="-1" value="" onclick="return false;"/>
        <p:menubar id="menu" styleClass="topmenu" style="width: 100%">
            <p:submenu label="kies venster">
                <p:menuitem value="Superlemma" outcome="/superLemma/List.xhtml"
                    class="#{request.requestURI.contains('superLemma/List') || !request.requestURI.contains('List.xhtml') ? 'current' : ''}"/>
                <p:menuitem value="Lemma" outcome="/lemma/List.xhtml" class="#{request.requestURI.contains('lemma/List') ? 'current' : ''}"/>
                <p:menuitem value="LanguageVariant" outcome="/languageVariant/List.xhtml" class="#{request.requestURI.contains('languageVariant/List') ? 'current' : ''}"/>
            </p:submenu>
            <p:submenu icon="fa fa-gear" label="instellingen" styleClass="options">
                <p:menuitem ajax="false" title="logout" value="uitloggen" icon="fa fa-power-off"
                            actionListener="#{sessionBean.logout()}"/>
                <p:submenu label="thema">
                    <c:forEach items="#{sessionBean.themes}" var="t">
                        <p:menuitem value="#{sessionBean.getCurrentTheme()==t? '* ' : ''}#{t}" update="menuform" actionListener="#{sessionBean.setCurrentTheme(t)}"
                                    onsuccess="location.replace(location.href)"/>
                    </c:forEach>
                </p:submenu>
                <p:menuitem value="errors" icon="fa-exclamation-triangle fa"
                            onclick="toggleDialog('exceptionDialog');"/>
                <p:menuitem title="zoeken en melden van wensen en problemen"
                            url="https://bitbucket.org/fryske-akademy/superlemma-list/issues?status=new&amp;status=open&amp;sort=-priority"
                            value="technische problemen" />
                <p:submenu label="#{sessionBean.language}">
                    <c:forEach items="#{sessionBean.languages}" var="l">
                        <p:menuitem value="#{l}" update="menuform" actionListener="#{sessionBean.setLanguage(l)}"
                                    onsuccess="location.replace(location.href)"/>
                    </c:forEach>
                </p:submenu>
            </p:submenu>
        </p:menubar>
    </h:form>
</html>
