<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:view locale="#{sessionBean.locale}">
        <h:head>
            <title><ui:insert name="title">Default Title</ui:insert></title>
            <h:outputStylesheet library="webjars" name="font-awesome/5.15.4/css/all.min-jsf.css" />
            <h:outputStylesheet library="webjars" name="font-awesome/5.15.4/css/v4-shims.min-jsf.css" />
            <h:outputStylesheet library="css" name="fa_crud7.css" />
        </h:head>

        <h:body>


            <p:ajaxStatus class="astat" oncomplete="">
                <f:facet name="start">
                    <h:graphicImage  name="images/ajax_active.gif"/>
                </f:facet>
            </p:ajaxStatus>

            <p:growl id="growl" life="5000" severity="info,warn,error" sticky="#{facesContext.validationFailed}" >
                <p:autoUpdate/>
            </p:growl>

            <p:outputPanel>
                <ui:include src="menu.xhtml"/>
                <ui:insert name="body"/>                
            </p:outputPanel>
            <h:outputScript library="js" name="fa_crud8.js"/>
            <c:if test="#{param['state'] == 'filtering'}">
                <script type="text/javascript">
                    $(document).ready(function() {
                        PF('datalist').filter();
                    });
                </script>
            </c:if>    
            <p:ajaxExceptionHandler type="java.lang.Exception"
                                    update="exceptionDialog :growl"/>

            <p:dialog id="exceptionDialog" header="Fout '#{pfExceptionHandler.message}'!" widgetVar="exceptionDialog"
                      height="500px" closable="true" >
                <h1>Details van de laatst opgetreden fout.</h1>
                <h2>Als de toepassing gewoon werkt gaat het wsl. om een fout waar de toepassing goed mee omgaat.</h2>
                <h2>Verversen met F5 kan helpen, opnieuw inloggen ook.</h2>
                <h2>stuur evt. de details naar edrenth at fryske-akademy nl</h2>
                Details: <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false" /> <br />
            </p:dialog>
        </h:body>
    </f:view>
</html>
