<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
        <title>Sessie verlopen</title>
        <h:outputStylesheet library="css" name="fa_crud7.css" />
        <link rel="icon" 
              type="image/png" 
              href="#{resource['images/fa-favicon.png']}"/>
        <meta http-equiv="refresh" content="3;url=/superlemma-list" />
        <style>
            body {
                background-image: url('#{resource['images/fa-logo-scaled-trans.png']}') !important;
                background-position: center 10px !important;
                background-repeat: no-repeat !important;
                margin: 50px;
            }
            h3 {
                text-align: center
            }
        </style>
    </h:head>

    <h:body>
        <p:panel>
            <h3>
            Uw sessie is verlopen waardoor u opnieuw moet inloggen, na 3 seconden verschijnt de login.
            </h3>
        </p:panel>


    </h:body>
</html>
